
.bdy{
    margin: 0;
    padding: 0;
    height: auto;
    max-height: auto;
}

.rec1{
    background-color: #202020;
    min-height: 900px;
    min-width: 1900px;
    margin: 0;
    padding: 0;
}

.a{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    
}

.name{
    display: flex;
    color: #91170C;
    padding: 30;
    font-family: "Alex Brush", sans-serif;
    font-weight: 400;
    font-size: 60;
    justify-content: center;
    font-weight: normal;
    letter-spacing: -0.16;
    max-width: fit-content;
    margin: 0;
}

.list{
    display: flex;
    max-width: fit-content;
    align-items: center;
    text-align: center;
}

.buttonsB{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    list-style: none;
    font-family: "Ysabeau infant","Roboto";
    font-weight: 300;
    font-size: 36;
    color: #FAE1C3;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.b{
    display: flex;
    justify-content: space-around;
    padding: 50;
}
.bA{
    width: 300px;
}

.iam{
    margin-top: 100px;
    font-family: "Ysabeau infant";
    color: #FAE1C3;
    font-size: 50;
    font-weight: 400;
}
.cvbutton{
    border-radius: 8px;
    font-family: "Ysabeau infant";
    font-size: 26;
    height: 55px;
    width: 185px;
    color: #FAE1C3;
    border: none;
    background-color: #847869;
}

.image{
    height: 573px;
    width: fit-content;
    border-radius: 12px;
}

.rec2{
    display: grid;
    align-self: auto;
    background-color: #353232;
    min-height: 900px;
    min-width: 1900px;
    max-height: auto;
    margin: 0;
    padding: 0;
}


.x{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    height: 245px;
    width: 1867px;
}

.about{
    font-family: "Ysabeau Office", sans-serif;
    color: #FAE1C3;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 32;
    letter-spacing: -0.16;
}


.y{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 400px;
    height: 52;
}

.symbols{
    cursor: pointer;
}

.z{

}
.sign{
    margin-right: 150px;
    text-align: end;
    color: #FAE1C3;
    font-family: "Cedarville Cursive";
    font-size: 50px;    
}

a{
    text-decoration: none;
    list-style-type: none;
    color:#FAE1C3;
}